<div  data-ng-controller="CustomerCtrl">
    <!-- toaster directive -->
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
    <!-- / toaster directive -->
    <div class="mobile" data-ng-if="is_mobile_abc == true" data-ng-init="currentPage_mobile = 1">
        <div class="mobile-content">
            <div class="m-bc">
                <div class="m-bc-title">DANH SÁCH KHÁCH HÀNG <span class="pull-right"> Trang {{currentPage_mobile }}</span></div>
                <table class="table-mod table m-b-none table-hover " >
                    <thead>
                    <tr>
                        <th>Mã KH</th>
                        <th>Tên KH </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="customer in (customers | startFrom:(currentPage_mobile-1)*15 | limitTo : 15  ) ">
                        <td>{{ customer.code }}</td >
                        <td>{{ customer.name }}</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="mobile-footer">
            <div class="pull-left tab-prev tablet" data-ng-show="currentPage_mobile - 1 > 0" ng-click="currentPage_mobile = currentPage_mobile-1">TRANG TRƯỚC</div>
            <div class="pull-left tab-prev-dis tablet" data-ng-hide="currentPage_mobile - 1 > 0" >TRANG TRƯỚC</div>
            <div class="pull-right tab-next tablet" data-ng-show="(currentPage_mobile)*15 < customers.length" ng-click="currentPage_mobile = currentPage_mobile+1">TRANG TIẾP</div>
            <div class="pull-right tab-next-dis tablet" data-ng-hide="(currentPage_mobile)*15 < customers.length" >TRANG TIẾP</div>

            <div class="mobile-icon"data-ng-click="mobile_menu = !mobile_menu">
                <img ng-src="img/icon/{{mobile_menu && 'mobile-menu-2.png' || 'mobile-menu.png'}}" >

            </div>
        </div>
        <div data-ng-include="'tpl/blocks/mobile-menu.html'"></div>
    </div >
    <div class="none-mobile" data-ng-if="is_mobile_abc != true">

        <div class="panel panel-default panel-min"  style="padding-bottom: 20px">
            <div class="panel-heading-mod">
                <div class="pull-left span-heading-mod">Danh Sách Khách</div>
                <a class="pull-right btn btn-ser-add" data-ng-click="add_customer()">
                    <img src="img/icon/ser-add.png">
                    Thêm Mới
                </a>
                <div class="clr"></div>
            </div>
            <div>
                <table class="table-mod table table-hover m-b-none" >
                    <thead>
                    <tr>
                        <th >STT</th>
                        <th>Mã KH</th>
                        <th >Họ Tên</th>
                        <th  data-ng-hide="tablet_hide">Email</th>
                        <th   data-ng-hide="tablet_hide">Điện Thoại</th>
                        <th  data-ng-hide="tablet_hide">Địa Chỉ</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="customer in customers | filter:filter | filter: rulefilter | startFrom:(currentPage-1)*pageSize | limitTo : pageSize ">

                    <tr ng-class="edit_customer_id == customer._id ?'tr-now':''"  class="color">
                        <td>{{ $index + 1 }}</td>
                        <td data-ng-click="edit_customer(customer._id)">{{ customer.code }}</td>
                        <td data-ng-click="edit_customer(customer._id)">{{ customer.name }}</td>
                        <td  data-ng-click="edit_customer(customer._id)"  data-ng-hide="tablet_hide">{{ customer.email }} </td>
                        <td  data-ng-click="edit_customer(customer._id)"  data-ng-hide="tablet_hide">{{ customer.phone }}</td>
                        <td  data-ng-click="edit_customer(customer._id)"  data-ng-hide="tablet_hide">{{ customer.address }}</td>
                        <td>
                           <span class="pull-right" style="min-width: 50px">
                                <a class="tool-ob"  ng-bootbox-confirm="Bạn Thực Sự Muốn Xóa Dữ Liệu Này ?" ng-bootbox-confirm-action="del(customer)">
                                    <img src="img/icon/icon-trash.png">
                                    <div class="tooltip-mod">Xóa Dữ Liệu</div>

                                </a>
                            </span>
                        </td>

                    </tr>
                    <tr class="tr-edit" data-ng-if="edit_customer_id == customer._id">
                        <td colspan="15">
                            <div class="service-div">
                                <div class="ser-head">
                                    <span class="ser-head-title">Thông Tin Khách Hàng</span>
                                </div>
                                <div class="ser-info">
                                    <table class="ser-table ser-table-mod">
                                        <tr>
                                            <td class="cus-tab-title">Mã Khách Hàng</td>
                                            <td>
                                                <span data-ng-show="!edit_ser" class="ser-tab-span">{{ customer.code }}</span>
                                                <input data-ng-show="edit_ser" ng-model="customer.code" type="text" id="code{{customer._id}}" class="mod-input-cus" ng-keyup="edit_detail('code',customer._id)" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cus-tab-title">Họ Tên</td>
                                            <td>
                                                <span data-ng-show="!edit_ser" class="ser-tab-span">{{ customer.name }}</span>
                                                <input data-ng-show="edit_ser" ng-model="customer.name" type="text" id="name{{customer._id}}" class="mod-input-cus" ng-keyup="edit_detail('name',customer._id)" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cus-tab-title">Email</td>
                                            <td colspan="3">
                                                <span data-ng-show="!edit_ser" class="ser-tab-span">{{customer.email}}</span>
                                                <input data-ng-show="edit_ser" ng-model="customer.email" type="text" id="email{{customer._id}}" class="mod-input-cus" ng-keyup="edit_detail('email',customer._id)" />
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="cus-tab-title">Điện Thoại</td>
                                            <td>
                                                <span data-ng-show="!edit_ser" class="ser-tab-span">{{ customer.phone }}</span>
                                                <input data-ng-show="edit_ser" ng-model="customer.phone" type="text" id="phone{{customer._id}}" class="mod-input-cus" ng-keyup="edit_detail('phone',customer._id)" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cus-tab-title">Địa Chỉ</td>
                                            <td colspan="3">
                                                <span data-ng-show="!edit_ser" class="ser-tab-span">{{customer.address}}</span>
                                                <input data-ng-show="edit_ser" ng-model="customer.address" type="text" id="address{{customer._id}}" class="mod-input-cus" ng-keyup="edit_detail('address',customer._id)" />

                                            </td>

                                        </tr>

                                    </table>
                                    <div class="clr"></div>
                                    <a data-ng-show="!edit_ser" class="btn btn-ser-edit" data-ng-click="edit_ser = true">
                                        <img src="img/icon/ser-edit.png" />
                                        Chỉnh Sửa
                                    </a>
                                    <a data-ng-show="edit_ser" class="btn btn-ser-edit" data-ng-click="update_emit();edit_ser = false">
                                        <img src="img/icon/ser-save.png" />
                                        Lưu Lại
                                    </a>
                                    <div class="ser-sub" style="margin-top: 20px">
                                        ** Cập nhật lần cuối vào lúc
                                    </div>
                                </div>
                            </div>
                            <div class="ser-div-right tablet-hide" style="position: relative">
                                <div class="ser-head">
                                    <span class="ser-head-title">Lịch Sử Mua Hàng</span>
                                </div>
                                <table class="table-mod table table-hover m-b-none">
                                    <thead>
                                    <tr class="tr-head">
                                        <th>STT</th>
                                        <th>Mã Phiếu</th>
                                        <th>Người Tạo</th>
                                        <th>Ngày </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="checkout in (checkouts | filter:{ customer : customer.code , deleted : '!' + true}| datefilter:start:end  | orderBy:'-date'
                                      | startFrom:(currentPage_ck-1)*pageSize_ck | limitTo : pageSize_ck  )">
                                        <td >{{ (currentPage_ck-1)*pageSize_ck + $index + 1 }}</td>
                                        <td ><a class="a-cl"  ui-sref="app.checkout({code : checkout._id})">{{ checkout.code}}</a></td>
                                        <td >{{ checkout.user.name}}</td>
                                        <td >{{ checkout.date | date:'dd-MM-yyyy'}}</td>

                                    </tr>
                                    </tbody>
                                </table>
                                <div class="text-right on-bot" style="font-size: 12px ; margin-right: 10px">
                                    <!--<div class="pull-left u-ds" >-->
                                        <!--Doanh Số :-->
                                        <!--{{( checkouts |  filter:{ customer : customer.code , deleted : '!' + true}  | datefilter:start:end | sumOfValue:'total')-->
                                        <!--+ ( checkouts |  filter:{ customer : customer.code , deleted : '!' + true}  | datefilter:start:end | sumOfValue:'extra')-->
                                        <!-- - ( checkouts |  filter:{ customer : customer.code , deleted : '!' + true}  | datefilter:start:end | sumOfValue:'reduce')-->
                                        <!-- -   ( checkouts |  filter:{ customer : customer.code , deleted : '!' + true}  | datefilter:start:end | sumOfValue:'reduce_coupon')-->
                                        <!--| number : 0 }}-->

                                    <!--</div>-->
                                    <pagination max-size="10"  rotate="false"  total-items="(checkouts | filter:{ customer : customer.code , deleted : '!' + true} | datefilter:start:end | orderBy:'-time_out' ).length/pageSize_ck*10" ng-model="currentPage_ck" ng-change="pageChanged_ck(currentPage_ck)"></pagination>
                                </div>
                            </div>

                        </td>

                    </tr>

                    </tbody>
                </table>
                <div class="text-center row" style="font-size: 12px">
                    <div class="pull-left tab-prev tablet" data-ng-show="currentPage - 1 > 0" ng-click="currentPage = currentPage-1">TRANG TRƯỚC</div>
                    <div class="pull-left tab-prev-dis tablet" data-ng-hide="currentPage - 1 > 0" >TRANG TRƯỚC</div>
                    <div class="pull-right tab-next tablet" data-ng-show="(currentPage)*pageSize < (customers | filter:filter | filter:rulefilter ).length" ng-click="currentPage = currentPage+1">TRANG SAU</div>
                    <div class="pull-right tab-next-dis tablet" data-ng-hide="(currentPage)*pageSize < (customers | filter:filter | filter:rulefilter ).length" >TRANG SAU</div>

                    <pagination max-size="10"  boundary-links="true"   next-text="Sau" previous-text="Trước" first-text="Đầu" last-text="Cuối"
                                rotate="false"  total-items="(customers | filter:filter | filter:rulefilter ).length/pageSize*10" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination>
                </div>
            </div>
        </div>
    </div>

